
<header id="masthead" class="site-header content">
    <div class="header-content">

        <div class="main-logo">
            <a class="header_logo" href="/" title="" rel="home">
                <img src="assets/img/logo_min.png" alt="Logo SeFocus">
            </a>
        </div>
        <div id="myMainnav" class="main-nav">
            <div class="nav-menu">
                <ul>
                    <li class="auto-sublist">
                        <a class="main-link">En savoir plus</a>
                        <div class="nav-menu-sub">
                            <div class="sub-nav-menu">
                                <span>
                                    <a href="/apropos" class="text">A propos</a>
                                    <a href="/equipe" class="text">Notre équipe</a>
                                    <a href="/contact" class="text">Nous contacter</a>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="main-link">
                        {% if not is_granted('IS_AUTHENTICATED') %}
                            <a class="nav-link mx-2 fas fa-user user_int"  href="/login"></a>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED') %}
                            <a class="nav-link mx-2 fas fa-user user_int"  href="/profil"></a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div id="mainSideNav">
    <label for="check" class="openSidenav"><i class="fas fa-bars"></i></label>
    <a class="sideNavLogo" href="/" title="" rel="home">
        <img src="assets/img/logo_min.png" alt="Logo SeFocus">
    </a>
</div>
<div id="mySidenav" class="sidenav">
    <button class="closeSidenav"><i class="fas fa-times-circle"></i></button>
    <a class="header_logo" href="/" title="" rel="home">
        <img src="assets/img/logo_min.png" alt="Logo SeFocus">
    </a>
    <div class="submenu">
        <ul>
            <li>
                <a class="submenu-link text" href="/apropos">A propos</a>
            </li>
            <li>
                <a class="submenu-link text" href="/equipe">Notre équipe</a>
            </li>
            <li>
                <a class="submenu-link text" href="/contact">Nous contacter</a>
            </li>
        </ul>
    </div>
</div>
<div class="nav-padding">
</div>