
<div class='toggle-switch'>
    <label class="label-switch">
        <input id="checkbox-input-theme" class="input-theme" type='checkbox' onchange="toggleColorMode(this)">
        <span class='slider'></span>
    </label>
</div>