{% extends 'base.html.twig' %}

{% block title %}En savoir plus{% endblock %}

{% block body %}

    <div class="text introducer">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis augue semper tellus accumsan maximus vel ultrices purus.
        Nullam id leo non nisl vestibulum iaculis egestas at lorem. Vivamus viverra est rhoncus tellus suscipit,
        in sodales ex mattis. Vestibulum consequat velit ornare dolor tempus, nec pellentesque tortor feugiat.
    </div>

{% endblock %}