{% extends 'base.html.twig' %}

{% block title %}En savoir plus{% endblock %}

{% block body %}

    <div class="title_main text">A propos de nous ?</div>

    <div class="text-img-row">
        <div class="apropos-text text">
            <p>Plateforme proposant des outils de travail, SeFocus souhaite vous accompagner pour vos prochains projets. À travers notre sélection de solutions d’aide à la concentration ou de résolution créative de problèmes, SeFocus vous donne les clés de l’efficacité en vous aidant à vous remuer les méninges.</p>

            <p>La raison d’être de SeFocus est de fournir un outil qui permet aux utilisateurs de trouver des solutions créatives et innovantes aux problèmes qu'ils rencontrent, tout en limitant l'usage des intelligences artificielles et réduire ainsi la pollution liée à leur utilisation à outrance.</p>
        </div>
        <div class="apropos-img">
            <img src="assets/img/apropos-aron.jpg">
        </div>
    </div>
    <div class="apropos-row text">
        <p>SeFocus propose aux utilisateurs en quête d'inspiration, ou face à un questionnement, de chercher des angles de réflexion alternatifs.</p>

        <p>Nous vous aidons à stimuler votre cerveau et à augmenter votre productivité grâce à la panoplie d’outils disponible.</p>
    </div>
    <div class="separator">
        <div class="line"></div>
        <div class="intersect"></div>
        <div class="line"></div>
    </div>
    <div class="text-img-row">
        <div class="apropos-img">
            <img src="assets/img/apropos-felix.jpg">
        </div>
        <div class="apropos-text text">
            <p>Notre application s'inspire des Stratégies Obliques, une méthode développée par Brian Eno et Peter Schmidt. Le jeu propose à ses joueurs de piocher une carte lorsqu’ils se retrouvent face à un dilemme ou une situation de blocage lors d’un processus créatif ou de travail. Chacune des cartes proposera ainsi au joueur des messages énigmatiques, par un simple clic, incitant à la réflexion et l’exploration de pistes nouvelles.</p>
        </div>
    </div>
    <div class="apropos-row text">
        <p>SeFocus vous offre également l'avantage d’accéder à la méthode Pomodoro, une technique d’aide à la concentration et de gestion du temps imaginée par Francesco Cirillo dans les années 80.</p>

        <p>Cette méthode se base sur l'usage d'un minuteur permettant de respecter des périodes de 25 minutes appelées pomodori. Le nom vient d'un minuteur de cuisine en forme de tomate (Pomodoro en italien) qu'utilisait Francesco Cirillo, lorsqu'il était étudiant à l'université.</p>

        <p>Cette technique consiste à varier des séquences de concentration et une pause de 5 minutes à la fin d’un pomodori. Toutes les 4 pomodori, on réalisera une pause plus longue.</p>

        <p>Maintenant que vous en savez un peu plus sur nous, il ne vous reste plus qu’à rejoindre notre communauté. À très bientôt !</p>
    </div>

{% endblock %}