{% extends 'base.html.twig' %}

{% block title %}Notre équipe{% endblock %}

{% block body %}

    <h1 class="text introducer text-center">Découvrer notre équipe!</h1>

    </br>

    <div class="row text-center">
      <div class=" col-md-4 mb-5">
        <div class="bg-dark rounded text-light py-5 px-4"><img src="assets/img/alexandre.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Alexandre Haffner</h5><span class="small text-uppercase text-light">Chef de projet / Product manager et Scrum Master</span>
        </div>
      </div>

      <div class="col-md-4 mb-5">
        <div class="bg-dark rounded text-light py-5 px-4"><img src="assets/img/estefania.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Estefania Nsue Nchama</h5><span class="small text-uppercase text-light">Product owner et Happiness manager</span>
        </div>
      </div>

      <div class=" col-md-4 mb-5">
        <div class="bg-dark rounded text-light py-5 px-4"><img src="assets/img/julien.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Julien Bellenger</h5><span class="small text-uppercase text-light">Webmaster/DevOps et aMoa</span>
        </div>
      </div>

      <div class="col-md-4 mb-5">
        <div class="bg-dark rounded text-light py-5 px-4"><img src="assets/img/geoffrey.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Geoffrey Gaye</h5><span class="small text-uppercase text-light">Head of storytelling et digital perfomance</span>
        </div>
      </div>

      <div class="col-md-4 mb-5">
        <div class="bg-dark rounded text-light py-5 px-4"><img src="assets/img/eddy.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Eddy Demoulin</h5><span class="small text-uppercase text-light">Lead dev et UX/UI designer</span>
        </div>
      </div>

      <div class="col-md-4 ">
        <div class="bg-dark rounded text-light py-5 px-4"><img src="assets/img/nathan.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Nathan Waxin</h5><span class="small text-uppercase text-light">Developpeur back et DB Analyst</span>
        </div>
      </div>
    </div>

{% endblock %}