{% extends 'base.html.twig' %}

{% block title %}SeFocus{% endblock %}

{% block body %}

    <h2>Affichage des cartes :</h2>
    {% for carte in cartes %}
        <div>
            <h3>{{ carte.contenu }}</h3>
        </div>
    {% endfor %}

{% endblock %}